<section>
  <h3>Asset List</h3>
  <mat-selection-list #assetlist (selectionChange)="onSelection($event)">
    <mat-list-option *ngFor="let asset of assets" [value]='asset' (click)="getAsset(asset)">
        <h3 matLine> {{asset.AssetName}} </h3>
        <p matLine>
            <span> {{asset.AssetDesc}} </span>
            <span class="demo-2"> -- {{asset.Location}} </span>
          </p>
    </mat-list-option>
  </mat-selection-list>  
  <p>
    # of selected Assets: {{assetlist.selectedOptions.selected.length}}
  </p>
  <p>
    Current selected Asset: {{ current_asset_name }}
  </p>      
  <p>All selected Assets:</p>
  <ul>
        <li *ngFor="let selected of assetlist.selectedOptions.selected">
          {{ selected.value.AssetName }}
        </li>
  </ul>
</section>