<section>
  <h3>Create Asset</h3>
  <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Asset Name">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Asset Description">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Asset Location</mat-label>
          <select matNativeControl required>
              <option value="">Choose Asset Location</option>              
              <option value="Denmark">Denmark</option>
              <option value="Taiwan">Taiwan</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
            </select>
      </mat-form-field>
      
    </form>
  <button mat-raised-button>Add Assets</button>
</section>